<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et consequatur, esse vitae corrupti maiores distinctio totam inventore officia quasi exercitationem repudiandae quo non voluptates? Architecto eligendi inventore voluptates sapiente consectetur?</p>

<link rel="stylesheet" href="/css/home.css">