<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KissDogs</title>
    <link rel="stylesheet" href="/css/preflight.css">
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>
<body>
    <header>
        <nav>
           <a href="/"><h1>KissDogs</h1></a> 
           <form action="/search">
            <input type="search" name="search">
            <button>Search</button>
           </form>
        </nav>
        <div id="user-actions">
            <% if (isLoggedIn()) { %>
            <a href="/listing/new">Make a listing</a>
            <a href="/release/new">Add a release</a>
            <a href="/user/<%= currentUser.id %>"><%= currentUser.username %></a>
            <form action="/session" method="post">
                <input type="hidden" name="_method" value="delete">
                <button>Logout</button>
            </form>
            <% } else { %>
            <a href="/login">Login</a>
            <% } %>
        </div>
    </header>
    <div id="gutters">
        <div id="content-wrapper">
            <%- body %>
        </div>
    </div>
</body>
</html>