<form action="/listing" method="post">
    <label for="">Catalog#</label>
    <input type="text" name="catalog_number" required>
    <label for="">Price</label>
    <input type="number" step="0.01" name="price" required>
    <label for="">Condition</label>
    <input type="text" name="condition" required>
    <label for="">Info (optional)</label>
    <input type="text" name="info">
    <button>Submit</button>
</form>