* {
  border: 1px solid red;
}

html {
  height: 100%
}

body {
  min-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: rgb(60, 60, 60);
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

h1 {
  font-size: 2rem;
  color: white;
}

nav input {
  line-height: 2.5rem;
  width: 300px;
  float: left;
  padding: 0 5px;
}

nav button {
  background-color: white;
  color: black;
  line-height: 2.5rem;
  padding: 0 5px;
}

#user-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#user-actions a {
  color: white;
}

#user-actions button {
  color: white;
}

body {
  padding-top: 90px;
}

#gutters {
  padding: 0 50px;
  margin: 0 auto;
}

#content-wrapper {
  background-color: grey;
  padding: 25px;
  max-width: 1200px;
  margin: 0 auto;
}
