header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

#user-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

body {
  padding-top: 100px;
}

#gutters {
  padding: 0 50px;
  margin: 0 auto;
}

#content-wrapper {
  background-color: white;
  padding: 25px;
  max-width: 1200px;
  margin: 0 auto;
}
